<ba-card [title]="'general.cadence.newfile' | translate" baCardClass="with-scroll table-panel">

  <form name="searchForm" class="form-horizontal " role="form" novalidate #editForm="ngForm">
    <p-header>
      <div class="ui-helper-clearfix">
          <div class="form-group">
        <input type="text" class="form-control" id="input01" name="file" placeholder="{{'general.cadence.selectionFile' | translate}}"
          required>

        <button type="button" class="btn btn-success btn-with-icon" style="float:left" data-toggle="tooltip" title="{{'action.new' | translate}}"
          (click)="showDialog()">
          <i class="ion-person-add"></i>{{'action.select' | translate}}
        </button>
      </div></div>
    </p-header>
  </form>
</ba-card>