<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.reset.title}">Ticketview password reset</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="#{email.reset.greeting(${user.username})}">Dear</p>
	<p th:text="#{email.reset.text1}">Your Ticketview account password
		has been reset, please click on the URL below to access it:
	</p>
	<p>
		<a th:href="@{|${baseUrl}|}" th:text="|${user.username}|">login</a>
	</p>
	
	<p th:text="#{email.reset.login(${user.username})}">Login</p>
	<p th:text="#{email.reset.password(${password})}">Password</p>
	<p>
		<span th:text="#{email.reset.text2}">Regards, </span> <br /> <em
			th:text="#{email.reset.signature}">Wevioo.</em>
	</p>
</body>
</html>
