label{
    color: #282828
}

.box-shadow-border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
      width: calc(100% + 44px);
      margin-left: -22px;
    }

input.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

input.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

select.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

select.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.text-error {
  padding: 0 0 0 10px; margin-top: 2px;font-size:80%
}

.form-control {
  /*background-color: #c1d8ec;*/
  border: 1px solid #03a9f4;
  height: 35px;
  color: #0b5d80;
}

.ui-grid-row {
  margin-top: 3px;
}

.form-group label {
  color: #448dae;
}

.inputText {
  width: 100%;
height: 30px;
}

.container-fluid {
  margin-left: 0px !important;
}

.ui-float-label {
  width: 100%;
}

.ui-float-label>label {
  margin-top: -1.5em;
}

.ui-inputtext {
  padding: 0.5em;
  border-color: #448dae;
  color: #0b5d80;
}


/*ui-inputtext:enabled:hover {
  border-color: #448dae;
}*/

.control-label {
  color: #0b5d80;
  line-height: 35px;
}
