<p-growl [(value)]="msgSuccess" [style]="{'top':'140px'}"></p-growl>
<p-messages [(value)]="msgs"></p-messages>
<div class="widgets">
<div class="row">
<div class="col-lg-12 col-md-12">
<ba-card [title]="'general.operatorManagement.newoperator' | translate" baCardClass="with-scroll table-panel">
<form name="searchForm" role="form" novalidate (ngSubmit)="saveUser()" #editForm="ngForm">
  
  <div class="form-group" >
      <label >Matricule</label>
      <input type="text" class="form-control" id="input03" name="matricule" required minlength="5" maxlength="50"
        pattern="^[_'.@A-Za-z0-9-]*$"   placeholder="{{'general.operatorManagement.matricule' | translate }}">
      <div  class="alert alert-danger text-error" translate="message.matricule.isrequired"></div>
    </div>
  <div class="form-group" >
    <label for="input01" translate="general.operatorManagement.lastname"></label>
    <input type="text" class="form-control" id="input01" name="lastname" required minlength="2" maxlength="50"
     >
    <div  class="alert alert-danger text-error" translate="message.lastname.isrequired"></div>
  </div>
  <div class="form-group" >
    <label for="input02" translate="general.operatorManagement.firstname"></label>
    <input type="text" class="form-control" id="input02" name="firstname" required minlength="2" maxlength="50" 
    >
    <div  class="alert alert-danger text-error" translate="message.firstname.isrequired"></div>
  </div>
 
  <div class="form-group" >
    <label for="input05" >Email</label>
    <input type="text" class="form-control" id="input05" name="email" required minlength="4" maxlength="100" 
      placeholder="{{'general.operatorManagement.email' | translate}}">
    <div  class="alert alert-danger text-error" translate="message.email.isrequired"></div>
  </div>
  <div class="form-group">
    <div class="box-shadow-border"></div>
  </div>
  <div class="form-group">
    <div class="row pull-right" style="margin-right: 10px;">
      <button type="submit" class="btn btn-success btn-with-icon" [disabled]="editForm.form.invalid || isSaving " data-toggle="tooltip"
        title="{{'action.save' | translate}}">
        <i class="ion-android-checkmark-circle"></i>{{'action.save' | translate }}</button>
      <button type="button" style="margin-left:15px;" [routerLink]="['..']" class="btn btn-warning btn-with-icon" data-toggle="tooltip"
        title="{{'action.cancel' | translate}}">
        <i class="ion-android-cancel"></i>{{'action.cancel' | translate }}</button>
    </div>
  </div>
  </form>
</ba-card>
      </div>
    </div>
</div>