
<ba-card [title]="'general.cadence.newfile' | translate" baCardClass="with-scroll table-panel">
    <form id ='formData' #formdata method="post" enctype="multipart/form-data">
      <input id="file" #data type="file" name="file" accept=".xlsx,.xls" (change)="getFiles(data)">
      <input #upload type="submit" value="Upload" class="btn btn-primary pull-right" (click)="postfile();">
  
  
    </form>
    <button class="button btn-info" *ngIf='showFile' (click)='showFiles(false)'>Hide Files</button>
 
<button class="button btn-info" *ngIf='!showFile' (click)='showFiles(true)'>Show Files</button>
 
<div [hidden]="!showFile">
  <div class="panel panel-primary">
    <div class="panel-heading">List of Files</div>
    <div *ngFor="let file of fileUploads | async">
      <div class="panel-body">
        <details-upload [fileUpload]='file'></details-upload>
      </div>
    </div>
  </div>
</div>
</ba-card>