
<ba-card [title]="'general.cadence.newfile' | translate" baCardClass="with-scroll table-panel">
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% effectué (success)</span>
    </div>
    </div>
  <form id ='formData' #formdata method="post" enctype="multipart/form-data">
      <input id="file" #data type="file" name="file" accept=".xlsx,.xls" (change)="getFiles(data)">
      <input #upload type="submit" value="Upload" class="btn btn-success pull-right" (click)="postfile();">
      
    </form>
    
</ba-card>