<p-growl [(value)]="messages"></p-growl>

<p-dialog header="Ajout | translate" [(visible)]="display" [resizable]="false" [responsive]="true" [modal]="true" width="600">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <form>
      <div class="modal-body">
        <div class="ui-grid-ro">
         <label class="ui-grid-col-4 control-label-dialog">Type</label>
          <div class="ui-grid-col-8">
              <select  id="type" class="form-control form-control-dialog">
                                          <option value="uap"> UAP</option>
                                          <option value="atelier"> Atelier</option>
                                          <option value="ilot"> Ilot</option>
                                        </select></div>
        </div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4 control-label-dialog">UAP</label>
          <div class="ui-grid-col-8">
            <select id="uap" class="form-control form-control-dialog">
              <option > UAP1</option>
            </select></div>
        </div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4 control-label-dialog">Atelier</label>
          <div class="ui-grid-col-8">
            <select id="atelier" class="form-control form-control-dialog">
                      <option > Atelier</option>
                    </select></div>
        </div>
        <div class="ui-grid-row">
          <label class="ui-grid-col-4 control-label-dialog">Ilot</label>
          <div class="ui-grid-col-8">
            <select id="ilot" class="form-control form-control-dialog">
                              <option > Ilot</option>
                            </select></div>
        </div>

      </div>
      <p-footer>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <button type="submit" class="btn btn-success">Ajouter une unité</button></div>
          <div class="ui-grid-col-5">
            <button type="submit" class="btn btn-primary">Rechercher</button></div>
        </div>
      </p-footer>
    </form>
  </div>
</p-dialog>
<ba-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12" [title]="'general.dashboard.search' | translate" toolbox="false">
  <p-menubar [model]="items">

  </p-menubar>
  <div style="margin-top:50px">
    <form>
      <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
        styleClass="company" (onNodeUnselect)="onNodeUnSelect($event)">
        <ng-template let-node pTemplate="person">
          <div class="node-header ui-corner-top">{{node.label}}</div>
          <div class="node-content">
            <img width="32">
            <div>{{node.data.name}}</div>
          </div>
        </ng-template>
        <ng-template let-node pTemplate="uap">
          {{node.label}}
        </ng-template>
      </p-organizationChart>

    </form>

  </div>

</ba-card>