<div>
    <form>
       <div class="row shift-up">
           <ba-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12" [title]="'Ajout Unité' | translate" toolbox="true" collapseIn="true">
             <div class="task-todo-container">
     <div class="form-group">
       <label >UAP</label>
       <select id="role" class="form-control">
       <option > UAP</option>
     </select>
     </div>
     <div class="form-group">
       <label >Atelier</label>
       <select id="role" class="form-control">
       <option > UAP</option>
     </select>
     </div>
     <div class="form-group">
       <label >Ilot</label>
       <select id="role" class="form-control">
       <option > UAP</option>
     </select>
     </div>
     <div class="form-group">
       <label >Type</label>
       <select id="role" class="form-control">
       <option > UAP</option>
     </select>
     </div>
 </div>
     <button type="submit" class="btn btn-success">Ajouter une unité</button>
     <button type="submit" class="btn btn-info">Rechercher</button>
  </ba-card>
 </div>
</form>
 
</div>